.centering {
    width: 100vw;
    height: 100vh;
}

.mainbox {
    background-color: blanchedalmond;
    padding: 2vh 2.5vw 2vh 2.5vw;
}

.lost-password {
    float: right; 
    font-size: 80%; 
    position: relative; 
}

.panel-body {
    padding-top: 3vh;
}

.panel-title {
    margin-top: 2vh;
    margin-bottom: 0.3vh;
}

.title-login {
    font-size: 1.5em;
}

.title-signup {
    font-size: 1.5em;
}

.input-group {
    margin-top: 1.3vh;
}

.control {
    margin-top: 0.5vh;
}

.btns {
    margin-top: 3vh;
}

.btn-align {
    margin-top: 1vh;
}

.login-choice {
    font-size: 65%;
}

.input-group-addon {
    margin-right: 0.8vw;
}

.form-group {
    margin-bottom: 3vh;
}

.control-sub {
    border-top: 1px solid#888; 
    padding-top: 1vh; 
    font-size: 85%;
}

.title-sub {
    float:right; 
    font-size: 85%; 
    position: relative; 
    top:-10px
}

.post-input {
    width: 30vw;
    height: 10vh;
}

.posts {
    width: 50vw;
    height: 100%;
    background-color: burlywood;
    margin: 6vh 2vw 0.5vh 0vw;
}

.palommers-post {
    word-break: break-all;
}