/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    h1.feed-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 1.15em;
        color: whitesmoke;
    }

    div.posts {
        width: 90vw;
        margin-left: 2vw;
    }

    div.post-opts {
        width: 95vw;
        margin-bottom: 2.5vh;
        justify-content: space-around;
        font-size: 80%;
    }

    div.opts {
        font-size: 70%;
        align-content: center;
    }
    
    input.post-input {
        width: 88vw;
    }

    div.mainbox {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: url(Palomita.jpg) no-repeat 50% fixed / cover;
    }

    div.login-form {
        justify-content: end;
    }

    div.panel-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 3em;
        color: whitesmoke;
        text-shadow: 3px 5px 2px #474747;
    }

    div.login-choice {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: whitesmoke;
    }

    div.control-sub {
        font-family: 'Roboto', sans-serif;
        font-size: 0.83em;
        text-align: center;
        color: rgb(133, 86, 93);
    }

    div.post-btns {
        width: 98%;
        margin-bottom: 6vh;
    }

    button.edit-post {
        margin: 0.8vh 2vw 0vh 0vw;
    }

    button.delete-post {
        margin: 0.8vh 2.9vw 0vh 0vw;
    }

    button.signUpBtn {
        color: whitesmoke;
        background-color: pink;
        font-style: bold;
    }

    button.btn-login {
        color: whitesmoke;
        background-color: pink;
        font-style: bold;
    }

    button.btn-gg {
        color: whitesmoke;
        background-color: pink;
        font-style: bold;
    }

    div.signup {
        width: 100%;
        background-image: url("Palomita.jpg");
        background-size: cover;
    }

    div.box {
        background-color: white;
        padding: 2vh 3vw 2vh 3vw;
    }

    button.signUpBtn {
        margin-left: 0vw;
    }

    p.navbar-brand {
        font-size: 1.2em;
        margin-top: 0.5vh;
    }

}

.centering {
    width: 100vw;
    height: 100vh;
}

.princess {
    background-image: url("http://66.media.tumblr.com/a5e20a37c9c56a5ca46092e629be8761/tumblr_mfinu8U8Da1qbe0gto1_r1_500.gif");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30%;
}

.mainbox {
    background-color: blanchedalmond;
    padding: 0vh 2.5vw 2vh 2.5vw;
    width: 35vw;
}

.lost-password {
    float: right; 
    font-size: 80%; 
    position: relative; 
}

.panel-body {
    padding-top: 3vh;
}

.panel-title {
    margin-top: 2vh;
    margin-bottom: 0.3vh;
}

.panel-title {
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.title-signup {
    font-size: 1.5em;
    text-shadow: 3px 5px 2px #474747;
}

.input-group {
    margin-top: 1.3vh;
}

.control {
    margin-top: 0.5vh;
}

.control-sub a {
    color: black;
}

.btns {
    margin-top: 3vh;
}

.btn-align {
    margin-top: 1vh;
}

.login-choice {
    font-size: 65%;
}

.input-group-addon {
    margin-right: 0.8vw;
}

.control-label {
    text-shadow: 3px 5px 2px #474747;
}

.form-group {
    margin-bottom: 3vh;
}

.control-sub {
    border-top: 1px solid#888; 
    padding-top: 1vh; 
    font-size: 85%;
}

.title-sub {
    float:right; 
    font-size: 85%; 
    position: relative; 
    top:-10px
}

.post-input {
    min-width: 30vw;
    width: 50vw;
    height: 12vh;
    font-family: 'Roboto', sans-serif;
    font-size: 95%;
    margin-top: 2vh;
}

.opts {
    margin-left: 1vw;
    font-family: 'Playfair Display', serif;
}

.post-opts {
    justify-content: end;
    margin-top: 2vh;
    font-family: 'Playfair Display', serif;
}

.posts {
    width: 55vw;
    height: 100%;
    border: 0.5px black dashed;
    margin: 0vh 2vw 0.5vh 0vw;
    padding: 0.5vh 0vw 0vh 0.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.userInfo {
    margin: 2vh 0vw 0vh 0.7vw;
    font-family: 'Playfair Display', serif;
    font-weight: 700i;
    font-style: italic;
}

.palommers-post {
    word-break: break-all;
}

.post-btns {
    margin-bottom: 6vh;
    font-family: 'Playfair Display', serif;
    width: 55vw;
}

.edit-post, .delete-post {
    margin: 0.5vh 0.5vw 0vh 0vw;
}

.feed-title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 4.2em;
    margin-top: 2.5vh;
}

.post-input {
    background-color: #fff8d7;
}

.signup {
    background-image: url(Palomita.jpg);
    background-size: cover;
    color: whitesmoke;
}

.home {
    background-color: pink;
}

.title-signup {
    color: whitesmoke;
    font-size: 2.5em;
}

.login-link a {
    color: whitesmoke;
}

.nav-pam {
    background-color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.navbar-brand {
    font-size: 1.5em;
    margin-top: 0.8vh;
}

.like-result {
    font-size: 1em;
    margin: 0.8vh 0.8vw 0vh 0vw;
}

.send-button {
    margin-right: 1vw;
}

.select-menu {
    border: none;
    background-color: whitesmoke;
    margin-left: 1vw;
}

.box {
    background-color: white;
    padding: 2vh 2vw 2vh 2vw;
}

#signUpBtn {
    margin-left: 1vw;
}

::-webkit-scrollbar {
    width: 1.5vw;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}