/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    h1.feed-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 10.5vw;
        margin: 1.2vh 0vw 0vh 0vw;
        color: whitesmoke;
    }

    div.posts {
        width: 93vw;
    }

    div.post-opts {
        width: 95vw;
        margin-bottom: 2.5vh;
        justify-content: space-around;
        font-size: 80%;
    }

    div.opts {
        font-size: 70%;
        align-content: center;
    }
    
    input.post-input {
        width: 93vw;
    }

    div.mainbox {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: url(Palomita.jpg) no-repeat 50% fixed / cover;
    }

    div.login-form {
        justify-content: end;
    }

    div.panel-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 3em;
        color: whitesmoke;
    }

    div.login-choice {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: whitesmoke;
    }

    div.control-sub {
        font-family: 'Roboto', sans-serif;
        font-size: 0.83em;
        text-align: center;
        color: rgb(133, 86, 93);
    }

    div.post-btns {
        width: 100%;
        margin-bottom: 6vh;
    }

    button.edit-post {
        margin: 0.8vh 2vw 0vh 0vw;
    }

    button.delete-post {
        margin: 0.8vh 2.9vw 0vh 0vw;
    }

    button.btn {
        color: whitesmoke;
        background-color: pink;
        font-style: bold;
    }

}

.centering {
    width: 100vw;
    height: 100vh;
}

.mainbox {
    background-color: blanchedalmond;
    padding: 2vh 2.5vw 2vh 2.5vw;
    width: 35vw;
}

.lost-password {
    float: right; 
    font-size: 80%; 
    position: relative; 
}

.panel-body {
    padding-top: 3vh;
}

.panel-title {
    margin-top: 2vh;
    margin-bottom: 0.3vh;
}

.panel-title {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.title-signup {
    font-size: 1.5em;
}

.input-group {
    margin-top: 1.3vh;
}

.control {
    margin-top: 0.5vh;
}

.control a {
    color: rgb(133, 86, 93);
}

.control a:hover {
    color: pink;
}

.lost-password a {
    color: whitesmoke;
}

.lost-password a:hover {
    color: pink;
}

.btns {
    margin-top: 3vh;
}

.btn-align {
    margin-top: 1vh;
}

.login-choice {
    font-size: 65%;
}

.input-group-addon {
    margin-right: 0.8vw;
}

.form-group {
    margin-bottom: 3vh;
}

.control-sub {
    border-top: 1px solid#888; 
    padding-top: 1vh; 
    font-size: 85%;
}

.title-sub {
    float:right; 
    font-size: 85%; 
    position: relative; 
    top:-10px
}

.post-input {
    min-width: 30vw;
    width: 50vw;
    height: 12vh;
    font-family: 'Roboto', sans-serif;
    font-size: 95%;
}

.opts {
    margin-left: 1vw;
    font-family: 'Playfair Display', serif;
}

.post-opts {
    margin-top: 2vh;
    font-family: 'Playfair Display', serif;
}

.posts {
    width: 55vw;
    height: 100%;
    background-color: burlywood;
    margin: 0vh 2vw 0.5vh 0vw;
    padding: 0.5vh 0vw 0vh 0.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.userInfo {
    margin: 2vh 0vw 0vh 0.7vw;
    font-family: 'Playfair Display', serif;
    font-weight: 700i;
    font-style: italic;
}

.palommers-post {
    word-break: break-all;
}

.post-btns {
    margin-bottom: 6vh;
    font-family: 'Playfair Display', serif;
    width: 55vw;
}

.edit-post, .delete-post {
    margin: 0.5vh 0.5vw 0vh 0vw;
}

.feed-title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3.9em;
}