.centering {
    width: 100vw;
    height: 100vh;
}

.mainbox {
    background-color: blanchedalmond;
}

.lost-password {
    float: right; 
    font-size: 80%; 
    position: relative; 
}

.panel-body {
    padding-top: 3vh;
}

.panel-title {
    margin-top: 2vh;
    margin-bottom: 0.3vh;
}

.title-login {
    font-size: 1.5em;
}

.title-signup {
    font-size: 1.5em;
}

.input-group {
    margin-top: 1.3vh;
}

.control {
    margin-top: 3.5vh;
}

.btn-login {
    display: block;
    align-self: flex-end;
}

.btn-gg {

}

.btn-fb {

}

.input-group-addon {
    
}

.form-group {
    margin-bottom: 4vh;
}

.control-sub {
    border-top: 1px solid#888; 
    padding-top: 15px; 
    font-size: 85%;
}

.title-sub {
    float:right; 
    font-size: 85%; 
    position: relative; 
    top:-10px
}

.palommers-posts {
    word-break: break-all;
    width: 30vw;
    margin: 5vh 2vw 5vw 2vw;
}