/* .mainbox {
    margin-top: 50px;
} */

.lost-password {
    float: right; 
    font-size: 80%; 
    position: relative; 
    top: -1.5vh;
}

.panel-title {
    margin-bottom: 4vh;
}

.input-group {
    margin-bottom: 5vh;
}

.input-group-addon {
    margin-right: 0.5vw;
}

.form-group {
    margin-bottom: 5vh;
}

.control-sub {
    border-top: 1px solid#888; 
    padding-top: 2vh; 
    font-size: 85%;
}